@CHARSET "UTF-8";
/**
 *	このファイルについて
 *	@auther makies <makies@gmail.com>
 *	@since 2009-12-20
 **********************************************************************/

/**
 *	目次
 **********************************************************************
 1.	全体レイアウト
 2.	ヘッダ
 3.	フッタ
 4.	メイン
 5.	グローバルメニュー
 6.	コンテンツ
 7.	サイドバー
 
 
 
 */
 
/**
 *	1.	全体レイアウト
 **********************************************************************/
html{

}
 
body{
	background-image: url("../img/backg02_403.gif");
		line-height: 1.5;
}
 
#container{
	width:1000px;
	margin: 0px auto;
	background-color: #FFF;
}

	#header{
	}

	#main{
	}

		#content{
			clear: both;
		}
		
		
		#sidebar{
		}

#footer{
	clear: both;
}

 
 
 
 
 
 /**
*	2.	ヘッダ
**********************************************************************/
#header{
}

#header h1{
	font-size: 24px;
	margin: 0 20px;
	padding-top: 20px;
}

#header #tagline{
	margin: 10px 20px;
}

#header #search{

}
#header #search form#SearchAddForm{
	position: absolute;
	left: 810px;
	top: 30px;
}
  
 
/**
 *	3.	フッタ
**********************************************************************/
 #footer{
 	font-size: 11px;
 	text-align: center;
 	padding: 20px;
 	margin-top: 100px;
 }
 
/**
 *	4.	メイン
**********************************************************************/
#main{
}	
 
 
/**
 *	5.	グローバルメニュー
**********************************************************************/
#nav{
	
}

#nav .menu{
}

#nav .menu ul{
	margin: 0;
	border-bottom: 1px solid blue;
	list-style: none;
	text-align: center;
	background-color: #666;
	padding: 10px;
}


#nav .menu ul li{
	display:inline;
	border-left: 1px solid #999;
	margin-bottom: 10px;
}
#nav .menu ul li a{
	padding: 5px 10px;
	color: #FFF;
	text-decoration: none;
}


/**
 *	6.	コンテンツ
**********************************************************************/
#content{
	width: 700px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

#content .nodes{
}

#content .nodes .node{
}
#content .nodes .node h2{
}
#content .nodes .node h2 a{
	text-decoration: none;
	color: #FF007F;
	font-size: 18px;
}

#content .nodes .node h2 a:hove{
}

#content .nodes .node .node-info{
	text-align: right;
	font-size: 12px;
}
#content .nodes .node .node-info span.date{
	margin-right: 1em;
}

#content .nodes .node .node-info a{
	
}


#content .nodes .node .node-body{
}

#content .nodes .node .node-body blockquote{
	font: 14px/20px italic Times, serif;
	padding: 8px;
	background-color: #faebbc;
	border-top: 1px solid #e1cc89;
	border-bottom: 1px solid #e1cc89;
	margin: 5px;
	background-image: url(images/openquote1.gif);
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 23px;
}
#content .nodes .node .node-body blockquote span {
	display: block;
	background-image: url(images/closequote1.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
  }




#content .nodes .node .node-more-info{
	text-align: right;
	font-size: 12px;
	background-image: url("../img/line01_276.gif");
	background-repeat: repeat-x;
	background-position: center top;
	margin-top: 15px;
	margin-bottom: 30px;
	/*
	background-color: #FFF29E;
	margin: 10px 0;
*/
	padding: 2px 5px;
}
 
/**
 *	7.	サイドバー
**********************************************************************/
#sidebar{
	float:right;
	width:240px;
	margin: 0px 20px 50px 0;
	font-size: 14px;
}

#sidebar .block{
	margin-top: 20px;
}

#sidebar .block h3{
	margin-bottom: 5px;
	font-size: 16px;
}	
 
/**
 *	8.	その他
**********************************************************************/
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 